
.sidebar ul, .sidebar ul li {
    margin: 0;
    padding: 0; 
}

.sidebar { 
    height: 100vh;
    background-color: var(--ire-darkGray);
}

.sidebar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.sidebar ul li {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.sidebar ul li a { 
    text-decoration: none;
    
    display: flex;
    padding: 3.1vh 20px;
    flex-grow: 1;
    align-items: center;

    color: var(--ire-black); 
    font-weight: var(--ire-Bold); 
    
    font-size: 24px;   
    filter: invert(100%);
    transition: background-color .3s, filter .3s;
}

.sidebar ul li a:hover {
    background-color: #D9D9D9;
    filter: invert(0%)
}

.sidebar ul li a:active {
    background-color: #D9D9D9;
    filter: invert(0%)
}

.sidebar ul li img { 
    width: 55px;
    margin-inline-end: 10px;
    height: auto;
}