.complementHolder { 

    padding: 10px;
    min-width: 25%;
    
    flex-grow: 0 !important;

    border-radius: 20px; 
    margin-bottom: 50px;

    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}

.complementItemHolder{
    background-color: white !important;
    font-weight: 500;
    font-size: 22px;
    margin-block: 10px;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block:3px;
    color: black;
}

.leftMenu{ 
    position: fixed;
}

.complementTitle {
    color:white;
    text-align: center;
    font-size: 30px;
}

.complementNameHolder {
    width: 100%;
}

.typesHolder {
    padding: 10px; 
    border-radius: 20px;  
    background : blue;
    margin-block: 30px;
    margin-inline: 4.9%;

    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}