@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles on the guide */
:root {
    --color-primario: #303231;
    --color-greend-secondary: #7CA88B;
}

body{
    font-family: "Jost", sans-serif;
}

* {
    margin: 0;
    padding:0;
    font-family: "Jost", sans-serif;
}

.flex {
    display: flex;
}

.contentContainer{
    width: 100%;
}