.dayHolder {
    padding : 10px 20px;
    border-radius: 20px;
    margin-block: 20px;  
}

.dishHolder{
    color:white;
    border-radius: 20px;
    margin-block:20px;
    margin-inline: 10%;
    padding : 10px 20px;
    background-color: #1D7093;
    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}

.itemHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FFF;
    color:black;
    border-radius: 5px; 
    padding: 5px 10px;
    margin-block:10px;
}

.atomToolbar{
    display: flex;
    flex-direction: row;
}

.itemInfo { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    width: 60%;
}

.headerHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 10%;  
}

.DayStrongValue{
    font-size: 40px;
    font-weight: 500;
}

.DayLigthValue{
    margin-inline-start: 10px;
    font-size: 40px;
    font-weight: 350;
}

.ItemStrongValue{
    font-size: 25px;
    font-weight: 500;
}

.ItemLigthValue{
    margin-inline-start: 10px;
    font-size: 25px;
    font-weight: 350;
}

hr{
    border: .5px solid white;
    margin-block: 4px;
}

.bottomNavigation {
    position:absolute;
    bottom:0;
    padding-block: 10px;
    right:3px;
    left:467px;
    display:flex;
    flex-direction:row;
    border-top-left-radius: 20px;
    
    border-top-right-radius: 20px;
    background-color:rgba(255, 255, 255, 0.356);
    justify-content:space-around;
}

.bottomButton {
    background-color: #F7B334;
    padding : 10px 30px;
    font-size: 20px;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    transition : background-color .2s, color .2s;
}

.rotate {
    
  transform: rotate(180deg);
}


.bottomButton:hover {
     
    cursor: pointer;
    background-color: #f9cf81; 
    color:#b68b3c; 
}

.bottomButton:hover svg {
    fill: #584219; /* Cambiar el fill del SVG cuando se hace hover sobre el botón */
}

svg{
    width: 25px; 
    fill:white;
    height: 25px;
}


.addDishToDay{
    width: 20%;
    margin-inline: 40%;
    background-color: #F7B334;
    
    color:white; 
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;

    cursor: pointer;
    
    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;

    transition: backgroundColor .5s, color .5s;

}

.addDishToDay:hover{
    width: 20%;
    margin-inline: 40%;
    background-color: red;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;

    
    color:#b68b3c; 
    background-color: #f9cf81;
    
    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}

.noDishOnDay{
    color:black;
}