.mainContainer{
    display: flex;
    height: 100vh;
    width: 100%; 
}

.contentDisplay{
    width: 100%;
}

.leftMenu{
    background-color: var(--ire-lightGreen);
    display: flex;
    width: 16%;
    min-width: 150px;
    flex-shrink: 0; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.linkFormat{  
    width: 100%;
    text-decoration: none;  
    padding: 20px 20px;
    font-weight: 450;
    
    font-size: 20px;
    color: var(--ire-darkGray);
    background-color: none;
    align-items: center;
    text-align: center;

    box-sizing: border-box;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    
    transition: background-color .2s , color .2s;
}

.linkFormat:hover{ 
    color: var(--ire-white);
    background-color: var(--ire-seaBlue);
}


.outlet{
    background-color: var(--ire-white);
    flex-grow: 1;
    overflow: auto;
}