.complementHolder {
    background-color: red;
    padding: 10px;
    min-width: 25%;
    
    flex-grow: 0 !important;

    border-radius: 20px; 

    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}

.complementItemHolder{
    background-color: white !important;
    font-weight: 500;
    font-size: 22px;
    margin-block: 10px;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block:3px;
    color: black;
}

.leftMenu{ 
    position: fixed;
}

.complementTitle {
    color:white;
    text-align: center;
    font-size: 30px;
}

.complementNameHolder {
    width: 100%;
}

.typesHolder {
    padding: 10px; 
    border-radius: 20px;  
    background : blue;
    margin-block: 30px;
    margin-inline: 4.9%;

    box-shadow: 0px 10px 10px 0px var(--ire-lightGray) ;
}

.mainRecipeHolder {
    cursor:pointer;
    opacity: 1;
    transition: opacity 0.3s color .3s;
}
 
.mainRecipeHolder:hover {
    opacity: .6;
    color : black
}

.BlueSTD{
    width: 80%;
    margin-block: 5px;
    border-radius: 20px;
    padding-inline: 35px;
    padding-block: 5px; 
    margin-inline: 10%;
    color: white;
    background-color: #1D7093;
    
}

.BlueStrong{
    width: 80%;
    margin-block: 5px;
    border-radius: 20px;
    padding-inline: 35px;
    padding-block: 5px; 
    margin-inline: 10%;
    color: white;
    background-color: #009FE3;
}

.ingredientItemHolder{
    font-size: 30px;
}

.noDishes{
    text-align: center;
    font-size: 20px;
    margin-top: 20px; 
    font-weight: 500;
    color: rgb(110, 110, 110) !important; 
}