.mainContainer{
    display: flex;
    height: 100vh;
    width: 100%; 
}

.contentDisplay{
    width: 100%;
}

.noTypesDish {
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(110, 110, 110) !important; 
}