/* ButtonStyles.css */

button { 
    transition: color 0.2s , background-color 0.2s;
}

.proceedStyle {
    color: var(--ire-white);
    background-color: var(--ire-greenButton);
    width: 100%;
}

.proceedStyle:hover {
    color: var(--ire-greenButton);
    background-color: var(--ire-greenButtonHover);
}

.cancelStyle {
    color: var(--ire-white);
    background-color: var(--ire-redButton);
    width: 100%;
}

.cancelStyle:hover {
    color: var(--ire-redButton);
    background-color: var(--ire-redButtonHover);
}