/* ButtonStyles.css */

button {
    font-size: 24px;
    padding: 6px 20px;
    color:cyan;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px var(--ire-lightGray);
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;

    transition: color 0.2s , background-color 0.2s;
}

.proceedStyle {
    color: var(--ire-white);
    background-color: var(--ire-greenButton);
    width: 100%;
}

.proceedStyle:hover {
    color: var(--ire-greenButton);
    background-color: var(--ire-greenButtonHover);
}

.cancelStyle {
    color: var(--ire-white);
    background-color: var(--ire-redButton);
    width: 100%;
}

.cancelStyle:hover {
    color: var(--ire-redButton);
    background-color: var(--ire-redButtonHover);
}