.button { 
    background-color:  rgba(255, 255, 255, 0.0);;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 0.3s ease;
}

svg {
    transition: fill 0.2s ease;
} 

.light { 
    fill: white;
}

.light:hover {
    fill: darkgray ;
}

.dark { 
    fill: black ;
}

.dark:hover {
    fill: darkgray ;
}